@import "tailwindcss";

@theme {
  --color-swamp: rgb(38 47 40);
}

:root {
  --banner: url("/banner.jpg");
  --hamburger: url("/hamburger.png");
}

html, body {
  @apply h-full w-full bg-white font-serif;
}

@utility banner {
  @apply bg-no-repeat bg-cover;
  @apply w-screen h-[30vh] sm:h-[40vh] lg:h-[50vh] xl:h-[60vh]; 
  background-position: center 35%;
  background-image: var(--banner);
}
